*{margin: 0; padding: 0;}
a{text-decoration: none; color: #222328;}
ul,li{list-style: none;}
img{display: block; border: 0;}

@font-face{
    font-family: 'main';
    src: url(../font/ArchivoBlack-Regular.ttf);
}

@font-face{
    font-family: 'sub';
    src: url(../font/SUIT-Regular.ttf);
}



#wrap{
    width: 100%;
    height: auto;
    background: url(../img/paper-texture.jpg) repeat center/contain;
    color: #222328;
    /* background-color: white; */
    position: relative;
    overflow: hidden;
}

#wrap_line{
    width: 1629px;
    height: auto;
    border: 3px solid #222328;
    margin: 50px auto;
    /* background-color: lightpink; */
}




/* header */
header{
    width: 1629px;
    height: 80px;
    border-bottom: 3px solid #222328;
}

#menu{
    width: 1200px;
    height: 80px;
    margin: 0 auto;
    /* background-color: pink; */
}

#menu li{
    width: 20%;
    height: 80px;
    text-align: center;
    font: 18px/80px '';
    font-family: 'main';
    float: left;
    letter-spacing: -1px;
}





/* section01 */
#sec01{
    width: 100%;
    height: 600px;
}

.container01{
    width: 100%;
    height: 100%;
    border-bottom: 3px solid #222328;
    position: relative;
}

.sec01_img{
    width: 50%;
    height: 100%;
    float: right;
    /* background-color: pink; */
    overflow: hidden;
    position: relative;
}

.sec01_img img{
    height: 100%;
}

.sec01_img:after{
    width: 100%;
    height: 100%;
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(000, 000, 000, 0.25);
}

.sec01_text01{
    width: auto;
    height: auto;
    font-family: 'main';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 10px 0 0 10px;
    box-sizing: border-box;
}

.sec01_text01 h1{
    font-size: 130px;
    line-height : 110px;
}

#co{letter-spacing: -10px;}
#sy{letter-spacing: -7px;}
#com{letter-spacing: -10px;}

.text_wrap{
    width: 100%;
    height: 105px;
    overflow: hidden;
}

.sec01_text02{
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
    padding: 0 10px 10px 0;
    box-sizing: border-box;
    color: white;
}

.sec01_text02 h1{
    font-family: 'main';
    font-size: 70px;
    letter-spacing: -5px;
    /* overflow: hidden; */
}

.sec01_text02 p{
    font-size: 18px;
    font-family: 'sub';
}



/* section01 메인 글자 슬라이드 이벤트 */
#co{
    animation: sec01_M 1s linear forwards;
    opacity: 0;
}

#sy{
    animation: sec01_M 1s linear 0.9s forwards;
    opacity: 0;
}


#com{
    animation: sec01_M 1s linear 1.8s forwards;
    opacity: 0;
}

@keyframes sec01_M{

    0%{
        opacity: 0;
        margin-top: 105px;        
    }

    100%{
        opacity: 1;
        margin-top: 0;
    }

}




/* section02 */
#sec02{
    width: 100%;
    height: 700px;
    border-bottom: 3px solid #222328;
}

.container02{
    width: 100%;
    height: 100%;
    position: relative;
}

.container02 h1{
    font-family: 'main';
    letter-spacing: -3px;
    font-size: 80px;
    position: absolute;
    bottom: 230px;
    left: -45px;
    transform: rotate(-90deg);
    opacity: 0;
}

.box0201{
    width: 150px;
    height: 100%;
    border-right: 3px solid #222328;
    box-sizing: border-box;
    float: left;
}

.box0202{
    width: 900px;
    height: 100%;
    border-top: 3px solid #222328;
    border-right: 3px solid #222328;
    float: left;
    overflow: hidden;
    box-sizing: border-box;
}

.box0202 img{
    width: 100%;
}

.box0203, .box0204{
    width: 573px;
    height: 50%;
    float: left;
    padding: 20px 0 20px 20px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.box0203 h3, .box0204 h3{
    font-family: 'main';
    font-size: 40px;
    letter-spacing: -2.5px;
    margin-bottom: 15px;
    opacity: 0;
    transition: 1s;
}

#pro{
    margin-top: -11px;
}


.box0203{
    border-bottom: 3px solid #222328;
}

.box0203 p{
    font: 16px/24px '';
    font-family: 'sub';
}

.pro_text01{
    width: 200px;
    height: 50px;
    position: absolute;
    overflow: hidden;
    opacity: 0;
    /* background-color: pink; */
    top: 120px;
    left: 22px;
}

.pro_txt01 p:nth-child(1){
    font-weight: 900;
}

.pro_text02{
    width: 200px;
    height: 50px;
    position: absolute;
    overflow: hidden;
    opacity: 0;
    /* background-color: pink; */
    bottom: -25px;
    left: 22px;
}

.box0204{
    font: 16px/24px '';
    font-family: 'sub';
}


#date{
    margin-top: 135px;
    float: left;
    font-size: 13px;
    position: absolute;
    bottom: 2px;
    left: 25px;
    /* background-color: pink; */
    opacity: 0;
}

#date p{
    margin-bottom: 5px;
}

#experience{
    position: absolute;
    bottom: -20px;
    left: 170px;
    /* background-color: green; */
    opacity: 0;
}

#experience p{
    margin-bottom: 5px;
}

#date03{
    margin-top: 30px;
}






/* section03 */
#sec03{
    width: 100%;
    height: 520px;
    border-bottom: 3px solid #222328;
}

.container03{
    width: 100%;
    height: 100%;
    position: relative;
}

.container03 h1{
    font-family: 'main';
    font-size: 80px;
    position: absolute;
    top: 0;
    right: 146px;
    letter-spacing: -5px;
    opacity: 0;
}

.sec03_box{
    width: 33.333%;
    height: 100%;
    border-right: 3px solid #222328;
    float: left;
    box-sizing: border-box;
    padding: 70px 30px 50px 30px;
    position: relative;
}

.sec03_box:last-child{
    border-right: 0;
}

.icon01{
    width: 50px;
    height: 50px;
    /* background-color: white; */
    margin-bottom: 50px;
    color: #222328;
    opacity: 0;
    position: absolute;
    top: 70px;
    left: 40px;
}

.icon01 img{
    width: 100%;
}

.skill_box_wrap{
    width: 473.83px;
    height: auto;
    /* background-color: pink; */
    margin: 0 auto;
    position: absolute;
    top: 170px;
    left: 70px;
}

.skill_box_wrap h2{
    font-family: 'main';
    font-size: 40px;
    margin-bottom: 20px;
    letter-spacing: -2px;
}

.skill_box_wrap p{
    font: 16px/24px '';
    margin-bottom: 30px;
    font-family: 'sub';
}





/* section04 */
.sec04{
    width: 100%;
    height: auto;
    /* border-bottom: 3px solid #222328; */
    overflow: hidden;
    position: relative;
}

.title{
    width: 100%;
    height: 200px;
    border-bottom: 3px solid #222328;
    font-family: 'main';
    padding-left: 20px;
    box-sizing: border-box;
    position: relative;
    
}

.title h1{
    width: 100%;
    height: 100%;
    font-family: 'main';
    font-size: 80px;
    letter-spacing: -5px;
    position: absolute;
    top: -40px;
    left: 30px;
    opacity: 0;
}

.sec04_box{
    width: 33.333%;
    height: auto;
    border-right: 3px solid #222328;
    border-bottom: 3px solid #222328;
    float: left;
    box-sizing: border-box;
    padding: 65px 50px;
}


.sec04_box:nth-child(3){
    border-right: 0;
}

.concept_img{
    width: 450px;
    height: 550px;
    margin: 0 auto;
    box-shadow: 2px 2px 8px gray;
    overflow: hidden;
    cursor: pointer;
}

.concept_img img{
    width: 100%;
    transition: 0.5s;
}

.concept_img img:hover{
    transform: scale(1.05);
}


.sec04_text{
    width: 450px;
    height: auto;
    margin: 30px auto;
    /* text-align: center; */
    /* background-color: aqua; */
}

.sec04_text h4{
    font: 900 20px/25px '' ;
}

.sec04_text p{
    font: 12px/15px '';
    margin-top: 10px;
    font-family: 'sub';
}

.sec04_btn{
    width: 450px;
    height: 70px;
    margin: 0 auto;
    border-top: 3px solid #222328;
    border-bottom: 3px solid #222328;
    box-sizing: border-box;
}

.view, .site{
    width: 225px;
    height: 70px;
    float: left;
    font: 600 20px/66px '';
    text-align: center;
    position: relative;
    cursor: pointer;
    font-family: 'sub';
    transition: 0.2s;
}


.view:hover, .site:hover{
    font-size: 23px;
}

.view:after{
    width: 2px;
    height: 50px;
    background-color: #222328;
    display: block;
    content: '';
    position: absolute;
    top: 8px;
    right: 0;
}

.show_box{
    width: 1100px;
    height: auto;
    background-color: white;
    position: absolute;
    top: 220px;
    left: 250px;
    z-index: 999;
    overflow: hidden;
    display: none;
    border: 3px solid #222328;
}

.storyboard{
    width: 1100px;
    height: 820px;
    overflow: hidden;
}

.storyboard img{
    width: 100%;
}

.close{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    /* background-color: pink; */
    text-align: center;
    font: 15px/30px '';
    cursor: pointer;
    transition: 1s;
}


.close img{
    width: 100%;
}

.close:hover{
    transform: rotate(90deg);
}





/* 팝업 속 스타일 */
.in_storyboard01{
    width: 100%;
    height: 100%;
}

.name_box{
    width: 100%;
    height: 100px;
    /* background-color: pink; */
    border-bottom: 3px solid #222328;
}

.name_box h4{
    font-family: 'main';
    font-size: 50px;
    float: left;
    letter-spacing: -4px;
    line-height: 100px;
    padding-left: 15px;
    box-sizing: border-box;
}

.name_box p{
    width: 190px;
    height: 100px;
    float: right;
    font: 14px/150px '';
    font-family: 'sub';
}


.storyboard_mask{
    width: 100%;
    height: 380px;
    position: relative;
    border-bottom: 3px solid #222328;
    overflow: hidden;
    /* background-color: pink; */
}

.storyboard_img{
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}

.storyboard_img img{
    width: 100%;
}

.storyboard_mask h2{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    font: 900 18px/380px '';
    font-family: 'sub';
    color: #222328;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    transition: 0.3s;
}

.storyboard_mask h2:hover{
    opacity: 0;
}





/* pc 스토리보드 슬라이드 */
.nuxe_story{
    animation: pc_marguee01 10s linear alternate;
    animation-play-state: paused;
    transition: 5s;
}

.storyboard_mask:hover .nuxe_story{
    animation-play-state: running;
}

@keyframes pc_marguee01{

    0%{
        margin-top: 0;
    }

    100%{
        margin-top: -3900.81px;
    }
}


.haus_story{
    animation: pc_marguee02 10s linear alternate;
    animation-play-state: paused;
    transition: 5s;
}

.storyboard_mask:hover .haus_story{
    animation-play-state: running;
}


@keyframes pc_marguee02{

    0%{
        margin-top: 0;
    }

    100%{
        margin-top: -2641px;
    }
}


.kb_story{
    animation: pc_marguee03 10s linear alternate;
    animation-play-state: paused;
    transition: 5s;
}

.storyboard_mask:hover .kb_story{
    animation-play-state: running;
}


@keyframes pc_marguee03{

    0%{
        margin-top: 0;
    }

    100%{
        margin-top: -1345.63px;
    }
}






.blank{
    width: 70px;
    height: 420px;
    border-right: 3px solid #222328;
    box-sizing: border-box;
    float: left;
}


.story_mo_mask{
    width: 300px;
    height: 420px;
    position: relative;
    overflow: hidden;
    border-right: 3px solid #222328;
    box-sizing: border-box;
}

.storyboard_mo_img{
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}

.storyboard_mo_img img{
    width: 100%;
}




/* mobile 슬라이드 */
.nuxe_mo_story{
    animation: mo_marquee01 25s linear 1.5s alternate;
    transform: 3s;
}

.nuxe_mo_story:hover{
    animation-play-state: paused;
}

@keyframes mo_marquee01{

    0%{
        margin-top: 0;
    }

    100%{
        margin-top: -2155.97px;
    }

}


.haus_mo_story{
    animation: mo_marquee02 25s linear 1.5s forwards;
}

.haus_mo_story:hover{
    animation-play-state: paused;
}

@keyframes mo_marquee02{

    0%{
        margin-top: 0;
    }

    100%{
        margin-top: -2040px;
    }

}






.concept_info{
    width: 730px;
    height: 420px;
    position: absolute;
    top: 486px;
    left: 370px;
    /* background-color: pink; */
    padding: 20px 20px 20px 50px;
    box-sizing: border-box;
}

.txt_box{
    width: 55%;
    height: auto;
    margin: 13px 0 20px 0;
    /* background-color: skyblue; */
    float: left;
}

.txt_box h3{
    font-family: 'main';
    /* font-size: ; */
}

.txt_box p{
    font-family: 'sub';
    font-size: 14px;
}

.font{
    width: 30%;
    height: 100px;
    margin-top: -81px;
    margin-left: 40px;
}

.color_wrap{
    width: 55px;
    height: 65px;
    /* background-color: pink; */
    float: left;
    margin: 15px 10px 10px 0;
    text-align: center;
}

.color_box{
    width: 50px;
    height: 50px;
    margin: 0 auto;
}


.color_box01{
    background-color: #003487;
    border: 1px solid #222328;
}

.color_box02{
    background-color: #FFFFFF;
    border: 1px solid #222328;
}

.color_box03{
    background-color: #016684;
    border: 1px solid #222328;
}

.color_box04{
    background-color: #FFFFFF;
    border: 1px solid #222328;
}

.color_box05{
    background-color: #FCAF16;
    border: 1px solid #222328;
}

.color_box06{
    background-color: #776C61;
    border: 1px solid #222328;
}

.color_box07{
    background-color: #FFFFFF;
    border: 1px solid #222328;
}


.color_wrap p{
    font-size: 12px;
}

.font{
    float: left;
}

.font p{
    margin: 5px 0 10px 0;
}


#kb_font{
    margin-top: -99px;
}


#kb_concept{
    left: 230px;
    border-right: 3px solid #222328;
}

#kb_blank{
    width: 230px;
}









/* footer */
footer{
    width: 100%;
    height: 430px;
    /* position: relative; */
    overflow: hidden;
}

.f_info{
    width: 300px;
    height: 100%;
    margin: 390px auto 40px auto;
    /* background-color: skyblue; */
    font-family: 'main';
    text-align: center;
    position: relative;
    opacity: 0;
}

.f_info h2{
    font: 900 28px/50px '';
}

.qr{
    width: 200px;
    height: 200px;
    margin: 20px auto;
}

.qr img{
    width: 100%;
}

.f_info p{
    font: 900 20px/30px '';
}




input{
    display: none;
}

label{
    font: 900 23px/30px '';
    color: black;
    font-family: 'main';
    text-align: center;
    cursor : pointer;
}

label:hover{
    color: rgb(38, 135, 70);
}

