*{margin: 0; padding: 0;}
ul,li{list-style: none;}
a{text-decoration: none; color: rgb(23, 23, 23);}
img{display: block; border: 0;}


@font-face{
    font-family: 'archivo';
    src: url(../font/ArchivoBlack-Regular.ttf);
}

#wrap{
    width: 100%;
    color: rgb(23, 23, 23);
}

header{
    width: 100%;
    height: 150px;
    background-color: #003487;
    position: fixed;
    padding: 57px 0 0 180px;
    box-sizing: border-box;
    z-index: 99;
    transition: 0.5s;
}

#logo{
    width: 300px;
    height: 50px;
    /* background-color: gold; */
    float: left;
    margin-top: 10px;
}

#logo img{
    width: 100%;
}

.menu_wrap{
    width: 800px;
    height: 50px;
    float: left;
    /* background-color: gold; */
    margin-left: 190px;
}

.menu_wrap>li{
    width: 25%;
    height: 50px;
    text-align: center;
    float: left;
    font: 900 16px/50px '';
}

.menu_wrap>li a{
    color: white;
    font-family: 'archivo';
}


.sub_menu{
    width: 100%;
    height: 0;
    background-color: #003487;
    position: absolute;
    top: 150px;
    left: 0;
    transition: 0.5s;
    overflow: hidden;
}

#banner{
    width: 300px;
    height: 250px;
    background-color: white;
    float: left;
    overflow: hidden;
}

#banner img{
    width: 100%;
    transition: 0.5s;
}

.sub_menu li{
    width: 200px;
    height: 50px;
    /* background-color: gold; */
    float: left;
    position: absolute;
    font: 900 14px/50px '';
}

.sub_menu li:first-child{
    left: 180px;
}

.sub_menu li:nth-child(2),.sub_menu li:nth-child(3),.sub_menu li:nth-child(4),.sub_menu li:nth-child(5){
    left: 670px;
}

.sub_menu li:nth-child(6),.sub_menu li:nth-child(7),.sub_menu li:nth-child(8),.sub_menu li:nth-child(9){
    left: 870px;
}

.sub_menu li:nth-child(3),.sub_menu li:nth-child(7){
    top: 60px;
}

.sub_menu li:nth-child(4),.sub_menu li:nth-child(8){
    top: 120px;
}

.sub_menu li:nth-child(5),.sub_menu li:nth-child(9){
    top: 180px;
}


/* 메뉴 호버 이벤트 */
header:hover .sub_menu{
    height: 300px;
}

#banner:hover img{
    transform: scale(1.1);
}

.menu_wrap>li:hover{
    text-decoration: underline;
}

.sub_menu li:hover a{
    color: gold;
}



/* section01 */
#sec01{
    position: relative;
    z-index: -2;
}

#sec01 video{
    width: 100%;
    
}



/* section02 */
#sec02{
    width: 100%;
    height: 700px;
    /* background-color: aqua; */
    float: left;
    overflow: hidden;
}

.container01{
    width: 1920px;
    height: 500px;
    margin: 100px auto;
    /* background-color: lightblue; */
    position: relative;
    top: 0;
    left: 455px;
    overflow: hidden;
}

.container01 h1{
    color: #003487;
    font-family: 'archivo';
    font-size: 24px;
    margin-bottom: 30px;
}

#sec02_mask{
    width: 1920px;
    /* background-color: lightgray; */
    float: left;
    position: absolute;
    top: 70px;
    left: -10px;
}

.magaine{
    width: 300px;
    height: 400px;
    /* background-color: pink; */
    margin: 0 10px 0 10px;
    float: left;
}

.magaine img{
    width: 100%;
}

.btn_left, .btn_right{
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.6);
    text-align: center;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    font: 900 30px/45px '';
    cursor: pointer;
}

.btn_left{
    left: 0;
}

.btn_right{
    left: 1280px;
}

/* section03 */
#sec03{
    width: 100%;
    height: 2374px;
    float: left;
    /* background-color: pink; */
    overflow: hidden;
}

.new_product{
    width: 100%;
    /* background-color: gold; */
    position: relative;
}

.new_product img{
    width: 100%;
}

.sec03_text{
    width: 100%;
    height: 300px;
    background-color: rgba(000, 000, 000, 0.6);
    position: absolute;
    bottom: 0;
    left: 0;
    font-family: 'archivo';
}

.new_product a{
    color: white;
}

.sec03_text h3{
    text-align: center;
    font: 900 40px/60px '';
    margin: 60px 0 35px 0;
}

.sec03_text p{
    text-align: center;
    font: 900 20px/30px '';
}






/* section04 */
#sec04{
    width: 100%;
    height: 850px;
    /* background-color: aqua; */
    float: left;
}

.sec04_text{
    text-align: center;
    font-family: 'archivo';
    color: #003487;
    font: 900 25px/50px '';
    margin-top: 85px;
}

.container04{
    width: 1200px;
    height: 500px;
    margin: 60px auto;
    /* background-color: lightblue; */
}

.sec04_con{
    width: 380px;
    height: 500px;
    float: left;
    /* background-color: pink; */
}

.sec04_con:nth-child(2){
    margin: 0 30px;
}

.con_img{
    width: 100%;
    height: 450px;
    /* background-color: lightslategray; */
}

.con_img img{
    width: 100%;
}

.sec04_con p{
    text-align: center;
    font: 900 16px/50px '';
    font-family: 'archivo';
}





/* section05 */
#sec05{
    width: 100%;
    height: 600px;
    /* background-color: aqua; */
    overflow: hidden;
}

.container05{
    width: 1920px;
    height: 500px;
    margin: 50px auto;
    /* background-color: lightcyan; */
    position: relative;
    top: 0;
    left: 455px;
    overflow: hidden;
}

.container05 h1{
    color: #003487;
    font-family: 'archivo';
    font-size: 24px;
    margin-bottom: 30px;
}

#sec05_mask{
    width: 1920px;
    /* background-color: lightgray; */
    float: left;
    position: absolute;
    top: 70px;
    left: -10px;
}

.promotion{
    height: 400px;
    /* background-color: pink; */
    margin: 0 10px 0 10px;
    float: left;
}

.promotion img{
    width: 100%;
}



/* section06 */
#sec06{
    width: 100%;
    height: 500px;
    /* background-color: aqua; */
    float: left;
    overflow: hidden;
    margin-bottom: 100px;
}

.container06{
    width: 100%;
    height: 400px;
    /* background-color: lightgray; */
    margin: 75px 0;
    float: left;
    
}

.sec06_text{
    text-align: center;
    font-family: 'archivo';
    color: #003487;
}

.sec06_text a{
    color: #003487;
}

.sec06_text h3{
    margin: 15px 0 5px 0;
}

#sec06_mask{
    width: 1920px;
    margin: 30px 0;
    /* background-color: lightcyan; */
}

.instagram{
    width: 300px;
    height: 300px;
    /* background-color: lightsalmon; */
    float: left;
    margin-right: 20px;
    overflow: hidden;
}

.instagram img{
    width: 100%;
    transition: 0.5s;
}


.instagram:hover img{
    transform: scale(1.1);
}





/* footer */
footer{
    width: 100%;
    height: 600px;
    background-color: #003487;
    float: left;
    font-family: 'archivo';
    color: white;
}

#f_logo{
    width: 350px;
    height: 50px;
    margin: 80px auto 50px auto;
}

#f_logo img{
    width: 100%;
}


#in_footer{
    width: 1000px;
    margin: 0 auto;
    /* background-color: lightblue; */
}

.f_info, .f_cs, .f_sns{
    width: 33.333%;
    float: left;
    /* background-color: lightgray; */
}

.f_info p, .f_cs p{
    height: 50px; 
    font: 900 16px/50px '';
}

.f_info a, .f_cs a{
    color: white;
}

.sns{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    float: left;
    overflow: hidden;
}

.sns:nth-child(2){
    margin: 0 30px;
}

.sns img{
    width: 100%;
}

.family{
    width: 200px;
    height: 50px;
    /* background-color: lightgray; */
    float: left;
    margin-top: 30px;
    border: 1px solid white;
    border-radius: 10px;
    position: relative;
}

input{
    display: none;
}

.family p{
    font: 900 16px/50px '';
    margin: 0 60px 0 20px ;
    float: left;
    /* background-color: gold; */
}

#label{
    float: left;
    font-size: 20px;
    cursor: pointer;
    line-height: 50px;
}


.site_wrap{
    width: 100%;
    height: 0;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    top: 50px;
    left: 0;
    font: 14px/25px '맑은고딕';
    overflow: hidden;
    transition: 0.5s;
}

.site_list{
    width: 100%;
    height: 25px;
    padding: 0 0 0 10px;
    box-sizing: border-box;
}

#button:checked~.site_wrap{
    height: 250px;
}

.site_list:hover{
    background-color: lightgray;
}

.copy{
    width: 100%;
    text-align: center;
    float: left;
    margin-top: 50px;
    font: 13px/20px '맑은고딕';
}