@media all and (max-width:759px){

    @font-face{
        font-family: 'main';
        font-weight: 900;
        src : url(../font/SpaceGrotesk-VariableFont_wght.ttf);
    }

    @font-face{
        font-family: 'color_main';
        font-weight: 900;
        src : url(../font/AbrilFatface-Regular.ttf);
    }

    @font-face{
        font-family: 'sub_text';
        src : url(../font/NotoSansKR-Light.otf) format('otf');
    }

    @font-face{
        font-family: 'con_font';
        font-weight: 500;
        src : url(../font/Y\ 너만을\ 비춤체.ttf);
    }



    /* 공통 */
    #wrap{
        width: 100%;
    }

    header,section,footer{
        width: 100%;
        float: left;
        position: relative;
        overflow: hidden;
    }


    /* header */
    header{
        height: 80px;
        z-index: 99;
        background-color: #016684;
        /* position: fixed;
        top: 0;
        left: 0; */
    }

    #in_header{
        width: 100%;
        height: 80px;
        /* position: fixed;
        top: 0;
        left: 0; */
    }

    #logo{
        width: 19.736%;
        height: 80px;
        margin: 0 auto;
        background : url(../img/logo_white.png) no-repeat center/contain;
    }
    
    #menu_wrap{
        width: 78.947%;
        height: 80px;
        margin: 0 auto;
        /* background-color: aqua; */
        text-align: center;
        display: none;
    }

    #menu_wrap li{
        width: 25%;
        height: 100%;
        float: left;
        font: 900 16px/80px '';
    }

    #menu_wrap li a{
        color: white;
    }


    #sub_menu_wrap{
        width: 100%;
        height: 0;
        background-color: white;
        float: left;
        transition: 0.5s;
        overflow: hidden;
        position: absolute;
        top: 80px;
        left: 0;
        z-index: 99;
        display: none;
    }

    #in_sub_menu{
        width: 600px;
        height: 150px;
        margin: 20px auto;
        /* background-color: lightpink; */
    }

    .sub_wrap{
        width: 25%;
        height: 150px;
        float: left;
        text-align: center;
    }

    .sub_wrap li{
        width: 100%;
        height: 50px;
        font: 900 14px/50px '';
    }

    /* 메뉴 슬라이드 이벤트 */
    /* #in_header:hover #sub_menu_wrap{
        height: 200px;
    } */

    .sub_wrap li:hover a{
        color: #016684;
    }

    /* #in_header:hover{
        background-color: white;
    } */

    #side_menu{
        width: 150px;
        height: 80px;
        margin-right: 20px;
        /* background-color: aqua; */
        position: fixed;
        top: 0;
        right: 20px;
        display: none;
    }
    
    .side_con{
        width: 75px;
        height: 100%;
        text-align: center;
        font: 14px/80px '';
        float: left;
    }

    .side_con a{
        color: rgb(120, 120, 120);
    }


    /* 체크요망!!! */
    /* 슬라이드시 컬러 변경 이벤트 */
    /* #in_header:hover #logo{
        background : url(../img/logo_color.png) no-repeat center/contain;

    } */


    /* #in_header:hover #menu_wrap a{
        color: black;
    } */



    /* top button */
    #top_btn{
        width: 6.578%;
        /* 50/760*100 */
        height: 50px;
        background-color: #016684;
        text-align: center;
        font: 900 15px/50px '';
        position: fixed;
        top: 800px;
        right: 3.947%;
        z-index: 99;
        display: none;
    }

    #top_btn a{
        color: white;
    }


    /* mobile menu */
    #mo_menu_wrap{
        display: block;
    }

    #mo_menu_label{
        width: 5.263%;
        height: 40px;
        background-color: white;
        position: absolute;
        top: 20px;
        right: 6.578%;
    }

    .line{
        width: 70%;
        height: 2px;
        background-color: #016684;
        margin: 0 auto 5px auto;
    }

    .line:first-child{
        margin-top: 13px;
    }

    #in_mo_menu{
        width: 100%;
        height: 0;
        background-color: white;
        text-align: center;
        overflow: hidden;
        transition: 0.5s;
    }

    .in_mo_menu_wrap{
        width: 25%;
        height: 100%;
        float: left;
    }
    


    .mo_sub_menu{
        width: 100%;
        height: 30px;
    }


    .mo_sub_menu li{
        width: 100%;
        height: 30px;
        font: 13px/30px '';
    }

    .mo_sub_menu li:first-child{
        margin: 20px 0 10px 0;
        font-size: 15px;
    }

    .mo_sub_menu li a:hover{
        color: #016684;
        font-weight: 900;
    }

    #mo_btn:checked~#in_mo_menu{
        height: 170px;
    }





    /* section01 */
    #sec01{
        float: left;
        overflow: hidden;
    }

    #sec01 .container{
        width: 100%;
        height: 650px;
        float: left;
    }

    #sec01_img_wrap{
        width: 300%;
        height: 650px;
        position: absolute;
        top: 0px;
        left: 0;
        z-index: -99;
    }

    .sec01_img_con{
        width: 33.333%;
        height: 100%;
        float: left;
        position: relative;
        overflow: hidden;
    }

    .sec01_img_con img{
        height: 100%;
        /* height: 100%; */
    }

    .sec01_title{
        width: 78.947%;
        /* background-color: lightgray; */
        color: white;
        position: absolute;
        top: 55%;
        /* margin-top: -65px; */
        left: 3%;
        /* margin-left: -400px; */
    }

    .sec01_title h1{
        font: 900 20px/40px '';
    }

    .sec01_title p{
        font: 500 12px/15px '';
    }

    .sec01_title:nth-child(2){
        /* color: #016684; */
    } 




    /* 롤링 뉴스박스 */
    #sec01_news_wrap{
        width: 330px;
        height: 50px;
        /* background-color: aqua; */
        position: absolute;
        bottom: 50px;
        left: 50px; 
        display: none;
    }

    .news_box{
        width: auto;
        height: 150px;
        /* background-color: beige; */
        float: left;
        font: 13px/15px '';
        font-weight: 900;
        color: white;
        overflow: hidden;

    }

    .news_box:first-child{
        width: 50px;
        height: 50px;
        font-size: 13px;
        text-align: center;
        /* background-color: gold; */
    }

    .news_box:nth-child(2){
        width: 250px;
        height: 50px;
        /* background-color: gold; */
        position: relative;
    }

    #news_wrap{
        width: 250px;
        height: 150px;
        position: absolute;
        top: 0;
        left: 0;
    }

    .news_move{
        width: 250px;
        height: 50px;
        padding-left: 15px;
        box-sizing: border-box;
        /* background-color: gold; */
    }

    .news_move span{
        font-size: 10px;
    }

    .news_box:last-child{
        width: 30px;
        height: 50px;
    }


    .arrow{
        width: 15px;
        height: 25px;
        line-height: 25px;
        margin: 0 auto;
        cursor: pointer;
        user-select: none;
    }


    #circle_wrap{
        width: 40px;
        height: 10px;
        /* background-color: lightblue; */
        position: absolute;
        bottom: 50px;
        left: 50%;
        margin-left: -3.289%;
    }


    .circle{
        width: 10px;
        height: 100%;
        border-radius: 50%;
        background-color: rgba(72, 72, 72, 0.5); 
        float: left;
    }

    .circle:nth-child(2){
        margin: 0 5px;
    }

    .circle:active{
        background-color: dimgray;
    }


    #sec01{
        margin-bottom: 50px;
    }


    
    /* sec01-숨길 버튼 요소 사이즈 */

    .sec01_btn{
        width: 50px;
        height: 50px;
        background-color: white;
        position: absolute;
        left : 0;
        opacity: 0;
    }

    #sec01_left{
        top: 30%;
    }

    #sec01_right{
        top: 40%;   
    }





    
    
    /* section02 */



    /* #sec02{
        margin-bottom: 50px;
        overflow: hidden;
    } */


    /* 모바일버전 */
    .container{
        /* background-color: lightgray; */
        width: 100%;
    }

    .sec02_con{
        width: 100%;
        height: auto;
        /* background-color: aqua; */
        margin-bottom: 50px;
    }

    .sec02_con:last-child{
        margin-bottom: 30px;
    }

    .sec02_img{
        width: 78.947%;
        height: auto;
        margin: 0 auto 0 auto;
        position: relative;
    }

    .sec02_img img{
        width: 100%;
    
    }

    .sec02_img:after{
        display: block;
        content: '';
        width: 16.157%;
        height: 40px;
        background: url(../img/ing.jpg) no-repeat center/contain;
        position: absolute;
        top: 20px;
        left: -1%;
    }



    /* 모바일버전  */
    .sec02_textbox_mo{
        width: 100%;
        height: 100px;
        background-color: #f5ede7;
        position: relative;
    }

    /* .sec02_textbox_mo h5{
        width: 13.157%;
        height: 40px;
        background-color: #016684;
        position: absolute;
        top: -250px;
        left: -1.315%;
        font: 500 15px/40px '';
        color: white;
        text-align: right;
        padding-right: 1.315%;
        box-sizing: border-box;
        display: none;
    } */


    .sec02_textbox_mo h2{
        width: 100%;
        height: 60px;
        text-align: center;
        font: 500 20px / 60px '';
        color: rgb(74, 74, 74);
        font-family: 'con_font';
    }

    .sec02_textbox_mo h6{
        width: 100%;
        height: 10px;
        text-align: center;
        font: 900 13px/10px '';
        color: rgb(74, 74, 74);
    }

    .sec02_arrow{
        width: 6.578%;
        height: 6.578%;
        /* background-color: gold; */
        position: absolute;
        bottom: 40px;
        right: 6%;
    }

    .sec02_arrow img{
        width: 100%;
    }

    /* .sec02_img:after{
        width: 100%;
        height: 100%;
        display: block;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(000, 000, 000, 0.4);
    } */


    /* .sec02_textbox{
        width: 100%;
        height: auto;
        position: absolute;
        top: 100px;
        left: 0;
        text-align: center;
        color: white;
        z-index: 9;
    } */

    /* .sec02_textbox h5{
        width: 80px;
        height: 40px;
        font: 18px/40px '';
        margin: 0 auto;
        border: 1px solid white;
        margin-bottom: 20px;
    }

    .sec02_textbox h2{
        font: 900 30px/50px '';
        margin-bottom: 30px;
    }

    .sec02_textbox h6{
        font: 900 16px/18px '';
        margin-bottom: 15px;
    }

    .sec02_bottom_wrap{
        width: 280px;
        height: 50px;
        margin: 0 auto;
    } */


    /* .float{
        width: 130px;
        height: 100%;
        float: left;
        border: 1px solid white;
        font: 18px/50px '';
        box-sizing: border-box;
    }

    .float:first-child{
        margin-right: 20px
    }

    .float a{
        color: white;
    } */

    /* 콘텐츠 확대 이벤트 */
    /* .sec02_con:hover{
        transform: scale(1.05);
        position: relative;
        z-index: 9;
    }
 */

    .sec02_pc_img{
        display: none;
    }

    .sec02_textbox{
        display: none;
    }




    /* section03 */

    #sec03{
        margin-bottom: 50px;
        overflow: hidden;
    }

    .container{
        width: 100%;
    }

    #sec03_wrap_top{
        width: 100%;
        height: 400px;
        position: relative;
        background-color: aqua;
        background: url(../img/sec03_00.jpg) no-repeat center/contain;
        /* overflow: hidden; */
        /* margin-bottom: 20px; */
    }

    #sec03_wrap_top img{
        display: none;
    }


    #sec03_title{
        width: 100%;
        /* background-color: lightsteelblue; */
        position: absolute;
        top: 130px;
        left: 11.842%;
    }
    
    #sec03_title h1{
        font: 900 20px/30px '';
        color: #016684;
        margin-bottom: 10px;
        font-family: 'color_main';
    }


    #sec03_title p{
        font: 11px/18px '';
    }

    #sec03_title span{
        font-weight: 900;
    }

    #sec03_box{
        width: 100%;
        height: 80px;
        /* background-color: lightsteelblue; */
        position: absolute;
        bottom: 100px;
        left: 50%;
        margin-left: -19.736%;
        border: 1px solid #016684;
        background-color: rgba(113, 113, 113, 0.3);
        display: none;
    }

    #sec03_box p{
        font: 2.236%/80px '';
        float: left;
        color: #016684;
        margin-left: 80px;
    }
    
    #sec03_img{
        width: 6.578%;
        height: 50px;
        float : left;
        /* background-color: gold; */
        margin: 8px 0 0 10px;
    }
    
    #sec03_img img{
        width: 100%;
    }


    #sec03_wrap_bottom{
        width: 100%;
        height: 500px;
        /* background-color: lightsteelblue; */
    }
    
    #sec03_wrap_bottom a{
        color: white;
    }

    .sec03_con{
        width: 100%;
        height: 250px;
        float: left;
        position: relative;
        color: white;
        overflow: hidden;
    }

    .sec03_con_img img{
        width: 100%;
        height: 250px;
    }

    .sec03_con:after{
        width: 100%;
        height: 100%;
        display: block;
        content: '';
        background-color: rgba(000, 000, 000, 0.4);
        position: absolute;
        top: 0;
        left: 0;
    }


    .sec03_textbox{
        width: 100%;
        height: auto;
        /* background-color: gray; */
        position: absolute;
        top: 30%;
        left: 13.157%;
        z-index: 9;
    }

    /* .sec03_con:first-child{
        margin-bottom: 20px;
    } */


    .sec03_con h3{
        font: 600 18px/30px '';
    }

    .sec03_textbox p{
        font: 1.578%/15px '';
        float: left;
    }

    .sec03_arrow{
        width: 6.578%;
        height: 50px;
        /* position: absolute;
        bottom: 0;
        : 0;
        z-index: 9; */
        float: left;
        margin-left: 4%;
        margin-top: 10px;
    }

    .sec03_arrow img{
        width: 100%;
        height: 50px;
    }

    /* .sec03_con:hover .sec03_con_img img{
        transform: scale(1.2);
    } */






    
    /* section03-1 */

    .container{
        width: 100%;
    }
     
    #sec03_1_con_wrap{
        width: 100%;
        height: 350px;
        /* background-color: lightblue; */
        margin: 0 auto;
    }

    #sec03_1_top{
        width: 100%;
        height: 100px;
        color: #016684; 
    }

    
    #sec03_1_top h1{
        width: 100%;
        height: 100%;
        font: 900 20px/100px '';
        text-align: center;
        font-family: 'main';
    }

    #sec03_1_top h5{
        width: 100%;
        height: 20px;
        font: 700 13px/20px '';
        position: absolute;
        bottom: -30px;
        left: 50%;
        margin-left: -6.578%;

    }

    #sec03_1_top h5 a{
        color: #016684;
    }


    #sec03_1_bottom{
        width: 100%;
        height: 200px;
        /* background-color: lightgray; */
    }


    .sec03_1_con{
        width: 43.421%;
        height: 120px;
        float: left;
        /* border: 1px solid gray; */
        margin: 0 2.631% 20px 2.631% ; 
        position: relative;
        background-color: rgb(235, 235, 235);
        padding: 10px;
        box-sizing: border-box;
        box-shadow: 2px 2px 6px gray;
    }

    .sec03_1_con:nth-child(1),.sec03_1_con:nth-child(3){
        margin-left: 3.289%;
    }

    /* .sec03_1_con:after{
        width: 1px;
        height: 80px;
        background-color: lightgray;
        position: absolute;
        top: 20px;
        right: 9px;
        display: block;
        content: '';

    } */

    .sec03_1_con:last-child:after{
        display: none;
    }


    .sec03_1_con:last-child{
        margin-right: 0;
    }


    .sec03_1_con h5{
        font: 700 11px/20px '';
        color: gray;
        margin: 8px 0 8px 5px;
    }

    .sec03_1_con p{
        font: 500 13px/20px '';
        margin: 0 0 0 5px;
    }

    #sec03_1{
        margin-bottom: 50px;
    }



    /* section04*/
    #sec04{
        height: 800px;
        background: url(../img/sec04_main00.jpg) no-repeat center/cover;
        margin: 50px 0 0 0;

    }

    #sec04 h1{
        width: 100%;
        height: 100px;
        margin: 30px auto 0 auto;
        /* background-color: lightgray; */
        text-align: center;
        font: 900 20px/100px '';
        font-family: 'main';
    }


    #sec04_con_wrap{
        width: 78.947%;
        height: auto;
        /* background-color: lightgray; */
        margin: 30px auto 0 auto;
        overflow: hidden;
    }

    .sec04_con_wrap{
        width: 47.50%;
        height: 250px;
        float: left;
        position: relative;
    }

    .sec04_con{
        width: 100%;
        /* height: 300px; */
        float: left;
        /* background-color: rgba(1,102,132,0.8); */
        text-align: center;
        color: white;
    }


    .sec04_con h2, .sec04_con p{
        display: none;
    }

    .sec04_con_wrap:nth-child(1),.sec04_con_wrap:nth-child(3){
        margin-right: 3.947%;
    }

    .sec04_con_wrap:nth-child(1),.sec04_con_wrap:nth-child(2){
        margin-bottom: 30px;
    }


    /* .sec04_con:hover{
        height: 400px;
    } */

    /* .sec04_con:after{
        width: 150px;
        height: 1px;
        background-color: rgb(175, 175, 175);
        display: block;
        content: '';
        position: absolute;
        top: 135px;
        left: 50%;
        margin-left: -75px;
        
    } */

    /* .sec04_con p{
        color: rgb(175, 175, 175);
    } */

    .sec04_con_hover{
        width: 100%;
        height: 250px;
        float: left;
        background-color: rgba(0,61,80,0.8);
        text-align: center;
        color: gold;
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
    }

    .sec04_con_hover h2{
        margin-top: 50px;
        margin-bottom: 30px;
    }

    /* .sec04_con_hover{
        display: none;
    } */

    
    .sec04_con_hover h6{
        font: 500 14px/25px '';
        text-align: left;
        margin-left: 20.5%;
    }

    .sec04_con_hover h6 a{
        color: white;
    }

   /* .sec04_con_wrap:hover .sec04_con{
        opacity: 0;
   }
    
    .sec04_con_wrap:hover .sec04_con_hover{
        opacity: 1;
        height: 400px;
    } */

    .sec04_con_hover h6:hover{
        text-decoration: underline;
        font-weight: 900;
    }





    /* footer */
    #in_footer{
        width: 100%;
        height: 320px;
        background-color: dimgray;
        padding-left: 2.631%;
        box-sizing: border-box;
        position: relative;
    }


    #foot_logo{
        width: 19.736%;
        height: 100px;
        background: url(../img/logo_white.png) no-repeat center/contain;
        float: left;
        margin-top: 50px;
    }

    #foot_copy{
        width: 100%;
        height: auto;
        float: left;
        margin-top: 10px;
        color: white;
    }

    #copy_top{
        width: 100%;
        height: 40px;
        /* background-color: lightblue; */
        margin-top: 10px;
    }


    .copy_top_con{
        font: 500 1.578%/15px '';
        float: left;
        margin-right: 30px;
        position: relative;
    }
    
    .copy_top_con a{
        color: white;
    }

    .copy_top_con:after{
        width: 2px;
        height: 14px;
        display: block;
        content: '';
        position: absolute;
        top: 0;
        left: 30px;
        color: white;
        z-index: 99;
    }

    #copy_bottom{
        width: 100%;
        height: 50px;
        font: 11px/15px '';
    }

    #foot_side{
        width: 23.684%;
        /* 180 */
        height: auto;
        float: right;
        /* background-color: azure; */
        margin-right: 13.157%;
        margin-top: 50px;
    }

    #side_wrap{
        width: 23.684%;
        height: 50px;
        /* background-color: aquamarine; */
        border-bottom: 1px solid white;
        position: absolute;
        top: 30px;
        right: 6.578%;
    }

    #side_wrap h3{
        font: 600 9.444%/40px '';
        float: left;
        color: white;
        margin-left: 2.777%;
    }

    input{
        display: none;
    }


    #check_icon{
        width: 27.777%;
        height: 50px;
        float: right;
        /* background-color: gold; */
        font: 11.111%/50px '';
        text-align: center;
        color: white;
    }
    
    #side_list_wrap{
        width: 100%;
        height: 0;
        background-color: white;
        float: left;
        overflow: hidden;
        transition: 0.5s;
    }

    .family_list{
        width: 100%;
        height: 50px;
        font:  500 10%/50px '';
        padding: 0 0 0 5px;
        box-sizing: border-box;
        color: dimgray;
    }

    .family_list:hover{
        text-decoration: underline;
        background-color: lightgray;
    }

    #icon:checked~#side_list_wrap{
        height: 200px;
    }












    /* end */
}