@media all and (min-width:1200px){


    @font-face{
        font-family: 'main';
        font-weight: 900;
        src : url(../font/SpaceGrotesk-VariableFont_wght.ttf);
    }

    @font-face{
        font-family: 'color_main';
        font-weight: 900;
        src : url(../font/AbrilFatface-Regular.ttf);
    }

    @font-face{
        font-family: 'sub_text';
        src : url(../font/NotoSansKR-Light.otf) format('otf');
    }

    @font-face{
        font-family: 'con_font';
        font-weight: 500;
        src : url(../font/Y\ 너만을\ 비춤체.ttf);
    }


    /* 공통 */
    #wrap{
        width: 100%;
    }

    header,section,footer{
        width: 100%;
        float: left;
        position: relative;
    }


    /* header */
    header{
        height: 80px;
        /* background-color: lightgrey; */
        z-index: 99;
        position: fixed;
        top: 0;
        left: 0;
    }

    #in_header{
        width: 100%;
        height: 80px;
        float: left;
        /* position: fixed;
        top: 0;
        left: 0; */
    }

    #logo{
        width: 200px;
        height: 80px;
        float: left;
        margin-left: 20px;
        background : url(../img/logo_white.png) no-repeat center/contain;
        position: fixed;
        top: 0;
        left: 20px;
    }
    
    #menu_wrap{
        width: 600px;
        height: 80px;
        margin: 0 auto;
        /* background-color: aqua; */
        text-align: center;
    }

    #menu_wrap li{
        width: 25%;
        height: 100%;
        float: left;
        font: 900 16px/80px '';
    }

    #menu_wrap li a{
        color: white;
    }


    #sub_menu_wrap{
        width: 100%;
        height: 0;
        background-color: white;
        float: left;
        transition: 0.5s;
        overflow: hidden;
        position: absolute;
        top: 80px;
        left: 0;
        z-index: 99;
    }

    #in_sub_menu{
        width: 600px;
        height: 150px;
        margin: 20px auto;
        /* background-color: lightpink; */
    }

    .sub_wrap{
        width: 25%;
        height: 150px;
        float: left;
        text-align: center;
    }

    .sub_wrap li{
        width: 100%;
        height: 50px;
        font: 900 14px/50px '';
    }

    /* 메뉴 슬라이드 이벤트 */
    #in_header:hover #sub_menu_wrap{
        height: 200px;
    }

    .sub_wrap li:hover a{
        color: #016684;
        text-decoration: underline;
        font-weight: 900;
    }

    #in_header:hover{
        background-color: white;
    }

    #side_menu{
        width: 150px;
        height: 80px;
        margin-right: 20px;
        /* background-color: aqua; */
        position: fixed;
        top: 0;
        right: 20px;
    }
    
    .side_con{
        width: 75px;
        height: 100%;
        text-align: center;
        font: 14px/80px '';
        float: left;
    }

    .side_con a{
        color: rgb(120, 120, 120);
    }


    /* 체크요망!!! */
    /* 슬라이드시 컬러 변경 이벤트 */
    #in_header:hover #logo{
        background : url(../img/logo_color.png) no-repeat center/contain;

    }


    #in_header:hover #menu_wrap a{
        color: black;
    }


    /* top button */
    #top_btn{
        width: 50px;
        height: 50px;
        background-color: #016684;
        text-align: center;
        font: 900 15px/50px '';
        position: fixed;
        top: 800px;
        right: 50px;
        z-index: 99;
        opacity: 0;
        cursor: pointer;
    }

    #top_btn a{
        color: white;
    }


    /* mo_menu */
    #mo_menu_wrap{
        display: none;
    }



    /* section01 */
    #sec01{
        float: left;
        overflow: hidden;
    }

    #sec01 .container{
        width: 1920px;
        height: 1080px;
        float: left;
    }

    #sec01_img_wrap{
        width: 5760px;
        height: 1080px;
        position: absolute;
        top: 0px;
        left: 0;
        z-index: -99;
    }

    .sec01_img_con{
        width: 1920px;
        height: 1080px;
        float: left;
        position: relative;
    }

    .sec01_img_con img{
        width: 1920px;
        height: 100%;
    }

    .sec01_title{
        width: 1000px;
        /* background-color: lightgray; */
        color: white;
        position: absolute;
        top: 55%;
        /* margin-top: -65px; */
        left: 25%;
        /* margin-left: -400px; */
    }

    .sec01_title h1{
        font: 600 50px/80px '';
        font-family: 'sub_text';
    }

    .sec01_title p{
        font: 16px/50px '';
        font-family: 'sub_text';
        margin-left: 10px;
    }

    .sec01_title:nth-child(2){
        /* color: #016684; */
    } 




    /* 롤링 뉴스박스 */
    #sec01_news_wrap{
        width: 330px;
        height: 50px;
        /* background-color: aqua; */
        position: absolute;
        bottom: 50px;
        left: 50px; 
    }

    .news_box{
        width: auto;
        height: 150px;
        /* background-color: beige; */
        float: left;
        font: 13px/15px '';
        font-weight: 900;
        color: white;
        overflow: hidden;

    }

    .news_box:first-child{
        width: 50px;
        height: 50px;
        font-size: 13px;
        text-align: center;
        /* background-color: gold; */
    }

    .news_box:nth-child(2){
        width: 250px;
        height: 50px;
        /* background-color: gold; */
        position: relative;
    }

    #news_wrap{
        width: 250px;
        height: 150px;
        position: absolute;
        top: 0;
        left: 0;
    }

    .news_move{
        width: 250px;
        height: 50px;
        padding-left: 15px;
        box-sizing: border-box;
        /* background-color: gold; */
    }

    .news_move span{
        font-size: 10px;
    }

    .news_box:last-child{
        width: 30px;
        height: 50px;
    }


    .arrow{
        width: 15px;
        height: 25px;
        line-height: 25px;
        margin: 0 auto;
        cursor: pointer;
        user-select: none;
    }


    #circle_wrap{
        width: 40px;
        height: 10px;
        /* background-color: lightblue; */
        position: absolute;
        bottom: 50px;
        left: 50%;
        margin-left: -25px;
    }


    .circle{
        width: 10px;
        height: 100%;
        border-radius: 50%;
        background-color: rgba(72, 72, 72, 0.5); 
        float: left;
    }

    .circle_active{
        background-color: lightgray;
    }



    .circle:nth-child(2){
        margin: 0 5px;
    }


    .active{
        background-color: lightgray;
    }



    
    /* sec01-숨길 버튼 요소 사이즈 */

    .sec01_btn{
        width: 50px;
        height: 50px;
        background-color: white;
        position: absolute;
        left : 0;
        opacity: 0;
    }

    #sec01_left{
        top: 30%;
    }

    #sec01_right{
        top: 40%;   
    }





    /* #sec01{
        margin-bottom: 100px;
    }

     */
    
    /* section02 */

    #sec02{
        /* margin-bottom: 100px; */
        overflow: hidden;
    }
    #sec02 .container{
        /* background-color: lightgray; */
        width: 100%;
    }

    .sec02_con{
        width: 25%;
        height: 1000px;
        float: left;
        transition: 0.5s;
    }

    .sec02_img{
        width: 100%;
        height: 100%;
        position: relative;
    }

    .sec02_img img{
        width: 100%;
        height: 100%;
    }

    .sec02_img:after{
        width: 100%;
        height: 100%;
        display: block;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(000, 000, 000, 0.4);
    }


    .sec02_textbox{
        width: 100%;
        height: auto;
        /* background-color: grey; */
        position: absolute;
        top: 100px;
        left: 0;
        text-align: center;
        color: white;
        z-index: 9;
    }

    .sec02_textbox h5{
        width: 70px;
        height: 30px;
        /* background-color: white; */
        font: 13px/30px '';
        margin: 0 auto;
        border: 1px solid white;
        margin-bottom: 20px;
    }

    .sec02_textbox h2{
        font: 500 30px/50px '';
        margin-bottom: 30px;
        font-family: 'con_font';
    }

    .sec02_textbox h6{
        font: 900 16px/18px '';
        margin-bottom: 15px;
    }

    .sec02_bottom_wrap{
        width: 260px;
        height: 40px;
        margin: 0 auto;
    }

    .float{
        width: 120px;
        height: 100%;
        float: left;
        border: 1px solid white;
        font: 15px/40px '';
        box-sizing: border-box;
    }

    .float:first-child{
        margin-right: 20px
    }

    .float a{
        color: white;
    }







    /* 콘텐츠 확대 이벤트 */
    .sec02_con:hover{
        transform: scale(1.05);
        position: relative;
        z-index: 9;
    }


    .sec02_mo_img{
        display: none;
    }

    .sec02_textbox_mo{
        display: none;
    }

    .sec02_arrow{
        display: none;
    }


    .float:hover{
        font-weight: 900;
        text-decoration: underline;
    }


    /* section03 */

    #sec03{
        margin-bottom: 100px;
        overflow: hidden;
    }

    .container{
        width: 100%;
    }

    #sec03_wrap_top{
        width: 100%;
        height: 590px;
        position: relative;
        /* background-color: aqua; */
        /* overflow: hidden; */
    }

    #sec03_wrap_top img{
        width: 100%;
    }


    #sec03_title{
        width: 100%;
        /* background-color: lightsteelblue; */
        position: absolute;
        top: 150px;
        left: 0;
        text-align: center;
    }
    
    #sec03_title h1{
        font: 900 50px/70px '';
        color: #016684;
        margin-bottom: 20px;
        font-family: 'color_main';
    }


    #sec03_title p{
        font: 400 16px/22px '';
    }

    #sec03_title span{
        font-weight: 900;
    }


    #sec03_box{
        width: 300px;
        height: 80px;
        /* background-color: lightsteelblue; */
        position: absolute;
        bottom: 100px;
        left: 50%;
        margin-left: -150px;
        border: 1px solid #016684;
        background-color: rgba(173, 173, 173, 0.3);
    }

    #sec03_box p{
        font: 600 17px/80px '';
        float: left;
        color: #016684;
        margin-left: 80px;
    }
    
    #sec03_img{
        width: 50px;
        height: 50px;
        float : left;
        /* background-color: gold; */
        margin: 8px 0 0 10px;
    }
    
    #sec03_img img{
        width: 100%;
    }


    #sec03_wrap_bottom{
        width: 100%;
        height: 400px;
        background-color: lightsteelblue;
    }
    
    #sec03_wrap_bottom a{
        color: white;
    }

    .sec03_con{
        width: 50%;
        height: 100%;
        float: left;
        position: relative;
        color: white;
        overflow: hidden;
    }

    .sec03_con_img img{
        width: 100%;
        transition: 1s;
    }

    .sec03_con:after{
        width: 100%;
        height: 100%;
        display: block;
        content: '';
        background-color: rgba(000, 000, 000, 0.4);
        position: absolute;
        top: 0;
        left: 0;
    }


    .sec03_textbox{
        width: 630px;
        height: auto;
        /* background-color: gray; */
        position: absolute;
        top: 50%;
        left: 100px;
        z-index: 9;
    }


    .sec03_con h3{
        font: 600 25px/50px '';
        font-family: 'sub_text';
    }

    .sec03_con p{
        font: 12px/18px '';
    }

    .sec03_arrow{
        width: 50px;
        height: 50px;
        /* background-color: gold; */
        position: absolute;
        bottom: -8px;
        right: -60px;
        z-index: 9;
    }

    .sec03_arrow img{
        width: 100%;
    }

    .sec03_con:hover .sec03_con_img img{
        transform: scale(1.2);
    }


    
    /* section03-1 */

    .container{
        width: 100%;
    }
     
    #sec03_1_con_wrap{
        width: 1200px;
        height: 300px;
        /* background-color: lightblue; */
        margin: 0 auto;
    }

    #sec03_1_top{
        width: 100%;
        height: 100px;
        color: #016684;
    }

    
    #sec03_1_top h1{
        width: 500px;
        height: 100%;
        font: 900 25px/100px '';
        float: left;
        font-family: 'main';
    }

    #sec03_1_top h5{
        width: 100px;
        height: 100%;
        font: 700 16px/100px '';
        float: right;
    }

    #sec03_1_top h5 a{
        color: #016684;
    }


    #sec03_1_bottom{
        width: 100%;
        height: 200px;
        /* background-color: lightgray; */
    }


    .sec03_1_con{
        width: 285px;
        height: 100%;
        float: left;
        margin-right: 20px; 
        position: relative;
        /* background-color: pink; */
    }

    .sec03_1_con:after{
        width: 1px;
        height: 80px;
        background-color: lightgray;
        position: absolute;
        top: 20px;
        right: 9px;
        display: block;
        content: '';

    }

    .sec03_1_con:last-child:after{
        display: none;
    }


    .sec03_1_con:last-child{
        margin-right: 0;
    }


    .sec03_1_con h5{
        font: 700 16px/20px '';
        color: gray;
        margin-bottom: 15px;
    }

    .sec03_1_con p{
        font: 700 20px/25px '';
    }




    /* section04*/
    #sec04{
        height: 800px;
        background: url(../img/sec04_main00.jpg) no-repeat center/cover;
        margin: 50px 0 0 0;

    }

    #sec04 h1{
        width: 1200px;
        height: 100px;
        margin: 80px auto 0 auto;
        /* background-color: lightgray; */
        text-align: center;
        font: 900 35px/100px '';
        font-family: 'main';
    }


    #sec04_con_wrap{
        width: 1200px;
        height: auto;
        /* background-color: lightgray; */
        margin: 100px auto 0 auto;
        /* overflow: hidden; */
    }

    .sec04_con_wrap{
        width: 285px;
        height: 300px;
        float: left;
        margin-right: 20px;
        position: relative;
        background-color: rgba(1,102,132,0.8);
        text-align: center;
        color: white;
        transition: 0.5s;
    }

    /* .sec04_con{
        width: 285px;
        height: 300px;
        float: left;
        background-color: rgba(1,102,132,0.8);
        text-align: center;
        color: white;
        transition: 0.5s;
    } */


    .sec04_con_wrap:hover{
        height: 400px;
        margin-top: -50px;
        background-color: rgba(0,61,80,0.8);
        padding-top: 50px;
        box-sizing: border-box;

    }

    .sec04_con_wrap:hover .sec04_con{
        display: none;
    }

    .sec04_con_wrap:last-child{
        margin-right: 0;
    }

    .sec04_con_wrap:hover .sec04_con_hover{
        opacity: 1;
    }

    .sec04_con h2{
        margin: 80px 0 45px 0;
    }

    .sec04_con:after{
        width: 150px;
        height: 1px;
        background-color: rgb(175, 175, 175);
        display: block;
        content: '';
        position: absolute;
        top: 135px;
        left: 50%;
        margin-left: -75px;
        
    }

    .sec04_con p{
        color: rgb(175, 175, 175);
    }

    .sec04_con_hover{
        width: 285px;
        height: 300px;
        /* float: left; */
        /* background-color: rgba(0,61,80,0.8); */
        margin-right: 20px;
        text-align: center;
        color: gold;
        /* transition: 0.5s; */
        opacity: 0;
    }

    .sec04_con_hover h2{
        margin-top: 80px;
        margin-bottom: 40px;
    }


    /* .sec04_con_hover{
        display: none;
    } */

    
    .sec04_con_hover h6{
        font: 700 16px/25px '';
        text-align: left;
        margin-left: 95px;
    }

    .sec04_con_hover h6 a{
        color: gold;
    }

       
    .sec04_con_wrap:hover .sec04_con_hover{
        opacity: 1;
        height: 400px;
    }

    .sec04_con_hover h6:hover{
        text-decoration: underline;
    }





    /* footer */
    #in_footer{
        width: 100%;
        height: 300px;
        background-color: dimgray;
    }


    #foot_logo{
        width: 200px;
        height: 100px;
        background: url(../img/logo_white.png) no-repeat center/contain;
        float: left;
        margin-top: 50px;
    }

    #foot_copy{
        width: 800px;
        height: auto;
        float: left;
        margin-top: 50px;
        color: white;
    }

    #copy_top{
        width: 100%;
        height: 40px;
        /* background-color: lightblue; */
        margin-top: 30px;
    }


    .copy_top_con{
        font: 500 14px/15px '';
        float: left;
        margin-right: 30px;
        position: relative;
    }

    .copy_top_con a{
        color: white;
    }

    .copy_top_con::after{
        width: 10px;
        height: 14px;
        display: block;
        content: '';
        position: absolute;
        top: 5px;
        left: 30px;
        color: black;
        z-index: 99;
    }

    #copy_bottom{
        width: 100%;
        height: 50px;
        font: 13px/15px '';
    }

    #foot_side{
        width: 200px;
        height: auto;
        float: right;
        /* background-color: azure; */
        margin-right: 100px;
        margin-top: 50px;
    }

    #side_wrap{
        width: 200px;
        height: 50px;
        /* background-color: aquamarine; */
        border-bottom: 1px solid white;
    }

    #side_wrap h3{
        font: 600 20px/50px '';
        float: left;
        color: white;
        margin-left: 5px;
    }

    input{
        display: none;
    }


    #check_icon{
        width: 50px;
        height: 50px;
        float: right;
        /* background-color: gold; */
        font: 20px/50px '';
        text-align: center;
        color: white;
    }
    
    #side_list_wrap{
        width: 100%;
        height: 0;
        background-color: white;
        float: left;
        overflow: hidden;
        transition: 0.5s;
    }

    .family_list{
        width: 100%;
        height: 50px;
        font:  500 18px/50px '';
        padding: 0 0 0 5px;
        box-sizing: border-box;
        color: dimgray;
    }

    .family_list:hover{
        text-decoration: underline;
        background-color: lightgray;
    }

    #icon:checked~#side_list_wrap{
        height: 200px;
    }












    /* end */
}